@using MvcMusicStore.Models
@model MvcMusicStore.ViewModels.SelectManyVm

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>title</h2>
@foreach (var a in Model)
{
    
}