@*<a href="/linkexamples/select" class="btn btn-info" role="button">Select</a>
<a href="/linkexamples/any" class="btn btn-info" role="button">Select many</a>
<a href="/linkexamples/select" class="btn btn-info" role="button">Count</a>
<a href="/linkexamples/select" class="btn btn-info" role="button">Union</a>*@
@Html.ActionLink("Where", "Select", "LinqExamples")
@Html.ActionLink("Any", "Any", "LinqExamples")
@Html.ActionLink("SelectMany", "SelectMany", "LinqExamples")
@Html.ActionLink("Count", "Count", "LinqExamples")